doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="src/css/style.css")
    title PUZZLE
  body
    header.header
      .header__box
        p.header__box-logo PUZZLE
      ul.header__list
        - let headerlist = ['Vision', 'Business', 'News', 'Recruit', 'Contact']
          each item in headerlist
            li.header__list-item
              a(href="#" class="header__list-link") #{item}
    .bg
      .bg__box
        .bg__catch
          span.bg__catch-en Connecting people
          span.bg__catch-ja 人と人を繋ぐ会社です。
    main
      section.vision
        .vision__flex
          .vision__imgbox
            picture
              source(media="(min-width: 1025px)", srcset="src/img/vision_pc.jpg")
              img(src="src/img/vision_pc.jpg", alt="" class="vision__imgbox-img")
          .vision__textbox
            span.vision__smltitle Vision
            h1.vision__lartitle Let's go the way 
              br
              | we want to go
            .vision__subtitle 自分の進みたい道に進もう
            p.vision__text テキストテキストテキストテキストテキストテキスト
              br
              | テキストテキストテキストテキストテキストテキスト
              br
              | テキストテキストテキストテキストテキストテキスト
            a(href="#" class="btn__bl") view more
      section.business.wrapper
        .business__flex
          .business__textbox
            span.business__smltitle Business
            h1.business__lartitle Become a 
              br
              | web professional
            .business__subtitle webのプロフェッショナルになろう
            p.business__text テキストテキストテキストテキストテキストテキスト
              br
              | テキストテキストテキストテキストテキストテキスト
              br
              | テキストテキストテキストテキストテキストテキスト
            a(href="#" class="btn__bl") view more
            .business__list
              a(href="#" class="business__list-item")
                img(src="src/img/Business_1_pc.jpg", alt="")
                .business__list-flex
                  span.business__list-number 01
                  .business__list-title
                    span.business__list-en Engineering
                    span.business__list-ja エンジニアリング・フロントエンド・サーバーサイド
                  a(href="#" class="btn__wh") 
              a(href="#" class="business__list-item")
                img(src="src/img/Business_2_pc.jpg", alt="")
                .business__list-flex
                  span.business__list-number 02
                  .business__list-title
                    span.business__list-en Designer
                    span.business__list-ja 動画クリエーター・グラフィックデザイン
                  a(href="#" class="btn__wh")
              a(href="#" class="business__list-item")
                img(src="src/img/Business_3_pc.jpg", alt="")
                .business__list-flex
                  span.business__list-number 03
                  .business__list-title
                    span.business__list-en Marketing
                    span.business__list-ja マーケティング
                  a(href="#" class="btn__wh")
      section.news
        span.news__smltitle News
        .news__box
          dl.news__item
            dt.news__item-dt
              span.news__item-date 2022.08.01
              span.news__item-tag news
            dd.news__item-dd
              p.news__item-text テキストテキストテキストテキストテキストテキスト
            dt.news__item-dt
              span.news__item-date 2022.08.02
              span.news__item-tag news
            dd.news__item-dd
              p.news__item-text テキストテキストテキストテキストテキストテキスト
            dt.news__item-dt
              span.news__item-date 2022.08.03
              span.news__item-tag news
            dd.news__item-dd
              p.news__item-text テキストテキストテキストテキストテキストテキスト
          a(href="#" class="btn__bl") view  more
      .content__flex
        a(href="#" class="recruit")
          .recruit__title
            span.recruit__title-en Recruit
            span.recruit__title-ja 弊社で働きたい方へ
        a(href="#" class="contact")
          .contact__title
            span.contactt__title-en Contact
            span.contact__title-ja お問い合わせはこちら
      section.company
        .wrapper
          span.company__smltitle Company
          .company__flex
            a(href="#" class=".company__item")
              img(src="src/img/information_pc.jpg", alt="")
              .company__title
                span.company__title-en Information
                span.company__title-ja 会社概要
            a(href="#" class=".company__item")
              img(src="src/img/access_pc.jpg", alt="")
              .company__title
                span.company__title-en access
                span.company__title-ja アクセス情報
    footer.footer
      p.footer__title PUZZLE
      ul.footer__list
        - let footerlist = ['Vision', 'Business', 'News', 'Recruit', 'Contact']
          each item in footerlist
            li.footer__list-item
              a(href="#" class="footer__list-link") #{item}







