// color
$bl: #191101;
$wh: #fff;
$org: #FFB010;
$bgorg: #ffaf1019;
$gry: #DDDDDD;

// font
$FontPcText: 1.4rem;
$FontPcSmltitle: 1.6rem;
$FontPcLartitle: 5rem;
$FontPcSubtitle: 2rem;

$FontTabText: calc(1.2rem + 4 * (100vw - 600px) / 424);
$FontTabLartitle: calc(3rem + 4 * (100vw - 600px) / 424);
$FontTabSubtitle: calc(1.5rem + 4 * (100vw - 600px) / 424);