@use "../base/reset" ;
@use "../base/mixin" as m;
@use "../base/variable" as v;

html {
  font-size: 62.5%;
}

body {
  @include m.mq('sp') {
    color: v.$bl;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-size: v.$FontTabText;
    font-family: 'M PLUS 1p', sans-serif;
  }
  @include m.mq('tab') {
    color: v.$bl;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-size: v.$FontTabText;
    font-family: 'M PLUS 1p', sans-serif;
  }
  @include m.mq('pc') {
    color: v.$bl;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-size: v.$FontPcText;
    font-family: 'M PLUS 1p', sans-serif;
  }
}

.wrapper {
  @include m.mq('sp') {
    width: 90%;
    margin: 0 auto;
  }
  @include m.mq('tab') {
    width: 90%;
    margin: 0 auto;
  }
  @include m.mq('pc') {
    width: 90%;
    margin: 0 auto;
  }
}

img {
  @include m.mq('sp') {
    width: 100px;
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    
  }
}

.sp {
  @include m.mq('sp') {
    display: block;
  }
  @include m.mq('tab') {
    display: none;
  }
  @include m.mq('pc') {
    display: none;
  }
}
.header {
  @include m.mq('sp') {
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 100%;
      position: fixed;
      z-index: 3;
    }
    &__box {
      padding-left: 20px;
      &-logo {
        font-size: 2.6rem;
        color: v.$wh;
        transition: 0.5s ease;
      }
      &-logo.scroll {
        color: v.$bl;
        transition: 0.5s ease;
      }
    }
    &__hamburger {
      display : block;
      position: fixed;
      z-index : 6;
      right : 20px;
      top   : 25px;
      width : 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid v.$gry;
      background-color: v.$wh;
      cursor: pointer;
      text-align: center;
      &-line {
        display : block;
        position: absolute;
        width: 20px;
        height: 1px;
        left: 15px;
        background: v.$bl;
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition   : 0.1s ease-in-out;
        transition: .3s ease;
        border-radius: 4px;
        &:nth-child(1) {
          top: 20px;
        }
        &:nth-child(2) {
          top: 25px;
        }
        &:nth-child(3) {
          top: 30px;
        }
      }
      &-line.scroll{
        background: v.$bl;
      }
    }
    &__hamburger.active {
      border: none;
    }
    .active {
      transition: .3s ease;
      .header__hamburger-line {
        border-radius: 4px;
        background-color: v.$org;
        &:nth-child(1) {
          top : 25px;
          left: 15px;
          -webkit-transform: rotate(-45deg);
          -moz-transform   : rotate(-45deg);
          transform        : rotate(-45deg);
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 25px;
          -webkit-transform: rotate(45deg);
          -moz-transform   : rotate(45deg);
          transform        : rotate(45deg);
        }
      }
    }
    &__list {
      position: fixed;
      z-index : 5;
      top  : 0;
      left : 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.6s ease;
      width: 100%;
      height: 100vh;
      background-color: v.$org;
      text-align: left;
      padding-top: 140px;
      &-item {
        list-style-type: none;
        padding: 24px 0;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid v.$wh;
      }
      &-link {
        display: block;
        color: v.$wh;
        font-weight: bold;
        font-size: 1.6rem;
        text-decoration :none;
      }
    }
    .active {
      opacity: 1;
      visibility: visible;
      transition: 0.6s ease;
    }
  }
  @include m.mq('tab') {
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 100%;
      position: fixed;
      z-index: 3;
    }
    &__box {
      padding-left: 20px;
      &-logo {
        font-size: 4rem;
        color: v.$wh;
        transition: 0.5s ease;
      }
      &-logo.scroll {
        color: v.$bl;
        transition: 0.5s ease;
      }
    }
    &__hamburger {
      display : block;
      position: fixed;
      z-index : 6;
      right : 20px;
      top   : 25px;
      width : 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid v.$gry;
      background-color: v.$wh;
      cursor: pointer;
      text-align: center;
      &-line {
        display : block;
        position: absolute;
        width: 20px;
        height: 1px;
        left: 15px;
        background: v.$bl;
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition   : 0.1s ease-in-out;
        transition: .3s ease;
        border-radius: 4px;
        &:nth-child(1) {
          top: 20px;
        }
        &:nth-child(2) {
          top: 25px;
        }
        &:nth-child(3) {
          top: 30px;
        }
      }
      &-line.scroll{
        background: v.$bl;
      }
    }
    &__hamburger.active {
      border: none;
    }
    .active {
      transition: .3s ease;
      .header__hamburger-line {
        border-radius: 4px;
        background-color: v.$org;
        &:nth-child(1) {
          top : 25px;
          left: 15px;
          -webkit-transform: rotate(-45deg);
          -moz-transform   : rotate(-45deg);
          transform        : rotate(-45deg);
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 25px;
          -webkit-transform: rotate(45deg);
          -moz-transform   : rotate(45deg);
          transform        : rotate(45deg);
        }
      }
    }
    &__list {
      position: fixed;
      z-index : 5;
      top  : 0;
      left : 0;
      opacity: 0;
      visibility: hidden;
      color: v.$bl;
      transition: 0.6s ease;
      width: 100%;
      height: 100vh;
      background-color: v.$org;
      text-align: center;
      display: flex;
      align-items: center;
      &-item {
        list-style-type: none;
        padding: 0;
        width: 100%;
      }
      &-link {
        display: block;
        color: v.$bl;
        font-weight: bold;
        font-size: 2rem;
        text-decoration :none;
        padding: 24px 0;
      }
    }
    .active {
      opacity: 1;
      visibility: visible;
      transition: 0.6s ease;
    }
  }
  @include m.mq('pc') {
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 100%;
      position: fixed;
      z-index: 3;
    }
    &__box {
      padding-left: 80px;
      &-logo {
        font-size: 4rem;
        color: v.$wh;
        transition: 0.5s ease;
      }
      &-logo.scroll {
        color: v.$bl;
        transition: 0.5s ease;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 80px;
      &-item {
        margin-left: 40px;
        position: relative;
        &:hover {
          &::after {
            width: 100%;
            transition: 0.3s ease;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -6px;
          left: 0;
          background-color: v.$org;
          transition: 0.3s ease;
        }
      }
      &-link {
        color: v.$wh;
        transition: 0.5s ease;
      }
      &-link.scroll {
        transition: 0.5s ease;
        color: v.$bl;
      }
    }
  }
}

.bg {
  @include m.mq('sp') {
    background-image: url("/src/img/main_bg_sp.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    filter: brightness(90%);
    &__catch {
      color: v.$wh;
      position: absolute;
      bottom: 6%;
      left: 6%;
      &-en {
        display: block;
        font-size: calc(3rem + 4 * (100vw - 320px) / 379);
      }
      &-ja {
        display: block;
        font-size: 2.4rem;
      }
    }
  }
  @include m.mq('tab') {
    background-image: url("/src/img/main_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    filter: brightness(90%);
    &__catch {
      color: v.$wh;
      position: absolute;
      bottom: 6%;
      left: 6%;
      &-en {
        display: block;
        font-size: 5rem;
      }
      &-ja {
        display: block;
        font-size: 2.4rem;
      }
    }
  }
  @include m.mq('pc') {
    background-image: url("/src/img/main_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    filter: brightness(90%);
    &__catch {
      color: v.$wh;
      position: absolute;
      bottom: 6%;
      left: 6%;
      &-en {
        display: block;
        font-size: 5rem;
      }
      &-ja {
        display: block;
        font-size: 2.4rem;
      }
    }
  }
}

main {
  .vision {
    @include m.mq('sp') {
      margin-bottom: 120px;
      &__flex {
        display: flex;
        flex-direction: column;
      }
      &__imgbox {
        width: 100%;
        margin-top: 80px;
        order: 2;
        &-img {
          width: 100%;
        }
      }
      &__textbox {
        padding-top: 80px;
        width: 90%;
        margin: 0 auto;
        order: 1;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontTabLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontTabSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 40px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 36px;
        padding-right: 56px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 16px;
          transition: 0.3s ease;
        }
      }
    }
    @include m.mq('tab') {
      margin-bottom: 160px;
      &__flex {
        display: flex;
        align-items: center;
        gap: 40px;
      }
      &__imgbox {
        width: 40%;
        &-img {
          width: 100%;
        }
      }
      &__textbox {
        padding-top: 80px;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontTabLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontTabSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 40px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 36px;
        padding-right: 56px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 16px;
          transition: 0.3s ease;
        }
      }
    }
    @include m.mq('pc') {
      position: relative;
      margin-bottom: 160px;
      &::before {
        content: "vision";
        position: absolute;
        top: 6%;
        right: 0;
        color: v.$bgorg;
        font-size: 30rem;
        z-index: -1;
      }
      &__flex {
        display: flex;
        align-items: center;
        gap: 80px;
      }
      &__imgbox {
        width: 40%;
        &-img {
          max-width: 100%;
        }
      }
      &__textbox {
        padding-top: 80px;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontPcLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontPcSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 64px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
  }
  .business {
    @include m.mq('sp') {
      margin-bottom: 120px;
      &__textbox {
        &::before {
          // content: "Business";
          position: absolute;
          top: 6%;
          left: 0;
          color: v.$bgorg;
          font-size: 24rem;
          z-index: -2;
        }
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontTabLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontTabSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 40px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 36px;
        padding-right: 56px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 16px;
          transition: 0.3s ease;
        }
      }
      &__list {
        width: 100%;
        padding-top: 80px;
        &-item {
          display: block;
        }
        &-img {
          width: 100%;
          vertical-align: bottom;
        }
        &-flex {
          background-color: v.$org;
          width: 100%;
          margin-bottom: 48px;
          padding: 8px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        &-number {
          font-size: 3rem;
          font-weight: bold;
          color: v.$org;
          text-shadow:1px 1px 0 v.$wh, -1px -1px 0 v.$wh,
              -1px 1px 0 v.$wh, 1px -1px 0 v.$wh,
              0px 1px 0 v.$wh,  0-1px 0 v.$wh,
              -1px 0 0 v.$wh, 1px 0 0 v.$wh;
          margin-right: 24px;
          padding-left: 4px;
          line-height: 1.4;
        }
        &-title {
          display: inline-block;
        }
        &-en {
          display: block;
          color: v.$bl;
          font-size: 1.4rem;
          font-weight: bold;
          line-height: 1.4;
        }
        &-ja {
          display: block;
          color: v.$bl;
          line-height: 1.4;
        }
      } 
      &__btn-wh {
        height: 100%;
        display: block;
        color: v.$wh;
        position: relative;
        line-height: 36px;
        padding-right: 60px;
        transition: 0.3s ease;
        margin-left: auto;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$wh;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 4px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          top: 14px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
    @include m.mq('tab') {
      background: linear-gradient(90deg, #fff 0%, #fff 81%, v.$org 81%, v.$org 100%);
      margin-bottom: 160px;
      &__flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__textbox {
        width: 55%;
        padding-top: 120px;
        height: 480px;
        position: sticky;
        top: 0px;
        &::before {
          // content: "Business";
          position: absolute;
          top: 6%;
          left: 0;
          color: v.$bgorg;
          font-size: 24rem;
          z-index: -2;
        }
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontTabLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontTabSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 40px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 36px;
        padding-right: 56px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 16px;
          transition: 0.3s ease;
        }
      }
      &__list {
        width: 40%;
        padding-top: 120px;
        z-index: 2;
        &-item {
          display: block;
        }
        &-img {
          width: 100%;
          vertical-align: bottom;
        }
        &-flex {
          width: 100%;
          margin-bottom: 80px;
          display: flex;
          border-bottom: 1px solid v.$gry;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        &-number {
          font-size: 4rem;
          font-weight: bold;
          color: v.$wh;
          text-shadow:1px 1px 0 v.$org, -1px -1px 0 v.$org,
              -1px 1px 0 v.$org, 1px -1px 0 v.$org,
              0px 1px 0 v.$org,  0-1px 0 v.$org,
              -1px 0 0 v.$org, 1px 0 0 v.$org;
          margin-right: 40px;
        }
        &-title {
          display: inline-block;
        }
        &-en {
          display: block;
          color: v.$bl;
          font-size: 1.6rem;
          font-weight: bold;
        }
        &-ja {
          display: block;
          color: v.$bl;
        }
      } 
      &__btn-wh {
        display: none;
      }
    }
    @include m.mq('pc') {
      background: linear-gradient(90deg, #fff 0%, #fff 81%, v.$org 81%, v.$org 100%);
      margin-bottom: 160px;
      &__flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__textbox {
        width: 55%;
        padding-top: 120px;
        height: 480px;
        position: sticky;
        top: 0px;
        &::before {
          content: "Business";
          position: absolute;
          top: 6%;
          left: 0;
          color: v.$bgorg;
          font-size: 24rem;
          z-index: -2;
        }
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontPcLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontPcSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 64px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
      &__list {
        width: 45%;
        padding-top: 120px;
        z-index: 2;
        &-item {
          display: block;
        }
        &-img {
          width: 100%;
          vertical-align: bottom;
        }
        &-flex {
          width: 100%;
          margin-bottom: 80px;
          display: flex;
          border-bottom: 1px solid v.$gry;
          align-items: center;
          justify-content: space-between;
        }
        &-number {
          font-size: 7rem;
          font-weight: bold;
          color: v.$wh;
          text-shadow:1px 1px 0 v.$org, -1px -1px 0 v.$org,
              -1px 1px 0 v.$org, 1px -1px 0 v.$org,
              0px 1px 0 v.$org,  0-1px 0 v.$org,
              -1px 0 0 v.$org, 1px 0 0 v.$org;
          margin-right: 40px;
        }
        &-title {
          display: inline-block;
        }
        &-en {
          display: block;
          color: v.$bl;
          font-size: 3rem;
          font-weight: bold;
        }
        &-ja {
          display: block;
          color: v.$bl;
        }
      } 
      &__btn-wh {
        height: 100%;
        display: block;
        color: v.$wh;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$wh;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          top: 18px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
  }
  .news {
    @include m.mq('sp') {
      margin-bottom: 120px;
      &__textbox {
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__item {
        &:nth-child(3) {
          border-bottom: 1px solid v.$gry;
          margin-bottom: 40px;
        }
        &:hover {
          .news__item-text {
            color: v.$org;
            transition: 0.3s ease;
          }
        }
        &-dt {
          padding-top: 20px;
          border-top: 1px solid v.$gry;
        }
        &-date {
          color: v.$gry;
          padding-right: 16px;
        }
        &-tag {
          color: v.$gry;
          border: 1px solid v.$gry;
          padding: 2px 12px;
          border-radius: 40px;
        }
        &-dd {
          padding: 20px 0;
        }
        &-text {
          color: v.$bl;
          transition: 0.3s ease;
        }
      }
      &__btn {
        text-align: right;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 36px;
        padding-right: 56px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 16px;
          transition: 0.3s ease;
        }
      }
    }
    @include m.mq('tab') {
      margin-bottom: 160px;
      display: flex;
      &__textbox {
        width: 30%;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__box {
        width: 70%;
      }
      &__item {
        &:nth-child(3) {
          border-bottom: 1px solid v.$gry;
          margin-bottom: 40px;
        }
        &:hover {
          .news__item-text {
            color: v.$org;
            transition: 0.3s ease;
          }
        }
        &-dt {
          padding-top: 20px;
          border-top: 1px solid v.$gry;
        }
        &-date {
          color: v.$gry;
          padding-right: 16px;
        }
        &-tag {
          color: v.$gry;
          border: 1px solid v.$gry;
          padding: 2px 12px;
          border-radius: 40px;
        }
        &-dd {
          padding: 20px 0;
        }
        &-text {
          color: v.$bl;
          transition: 0.3s ease;
        }
      }
      &__btn {
        text-align: right;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 36px;
        padding-right: 56px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 16px;
          transition: 0.3s ease;
        }
      }
    }
    @include m.mq('pc') {
      margin-bottom: 160px;
      display: flex;
      &__textbox {
        width: 30%;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__box {
        width: 70%;
      }
      &__item {
        &:nth-child(3) {
          border-bottom: 1px solid v.$gry;
          margin-bottom: 40px;
        }
        &:hover {
          .news__item-text {
            color: v.$org;
            transition: 0.3s ease;
          }
        }
        &-dt {
          padding-top: 20px;
          border-top: 1px solid v.$gry;
        }
        &-date {
          color: v.$gry;
          padding-right: 16px;
        }
        &-tag {
          color: v.$gry;
          border: 1px solid v.$gry;
          padding: 2px 12px;
          border-radius: 40px;
        }
        &-dd {
          padding: 20px 0;
        }
        &-text {
          color: v.$bl;
          transition: 0.3s ease;
        }
      }
      &__btn {
        text-align: right;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
  }
  .content {
    @include m.mq('sp') {
      width: 100%;
      margin-bottom: 40px;
      .recruit {
        background-image: url(/src/img/recruit_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 150px;
        position: relative;
        display: block;
        margin-bottom: 40px;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 34px;
          right: 36px;
          transition: 0.3s ease;
        }
        &__title {
          position: absolute;
          bottom: 15px;
          left: 15px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
      .contact {
        background-image: url(/src/img/contact_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 150px;
        position: relative;
        display: block;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 34px;
          right: 36px;
        }
        &__title {
          position: absolute;
          bottom: 15px;
          left: 15px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
    }
    @include m.mq('tab') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 160px;
      .recruit {
        background-image: url(/src/img/recruit_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 250px;
        position: relative;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 34px;
          right: 36px;
          transition: 0.3s ease;
        }
        &__title {
          position: absolute;
          bottom: 15px;
          left: 15px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
      .contact {
        background-image: url(/src/img/contact_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 250px;
        position: relative;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 34px;
          right: 36px;
        }
        &__title {
          position: absolute;
          bottom: 15px;
          left: 15px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
    }
    @include m.mq('pc') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 160px;
      .recruit {
        background-image: url(/src/img/recruit_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        position: relative;
        &:hover {
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 40px;
          right: 40px;
          transition: 0.3s ease;
        }
        &__title {
          position: absolute;
          bottom: 20px;
          left: 40px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
      .contact {
        background-image: url(/src/img/contact_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        position: relative;
        &:hover {
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 40px;
          right: 40px;
          transition: 0.3s ease;
        }
        &__title {
          position: absolute;
          bottom: 20px;
          left: 40px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
    }
  }
  .company {
    @include m.mq('sp') {
      background-image: url(/src/img/company_pc.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 700px;
      position: relative;
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        color: v.$wh;
        display: block;
        padding-left: 16px;
        font-weight: bold;
        position: relative;
        z-index: 2;
        top: 80px;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__flex {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
      }
      &__item {
        width: 100%;
      }
      &__img {
        width: 100%;
      }
      &__title {
        border-bottom: 1px solid v.$wh;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 40px;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 10px;
          right: 0;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 24px;
          right: 16px;
        }
        &-en {
          display: block;
          color: v.$wh;
          font-size:  calc(1.8rem + 4 * (100vw - 600px) / 424);
        }
        &-ja {
          display: block;
          color: v.$wh;
        }
      }
    }
    @include m.mq('tab') {
      background-image: url(/src/img/company_pc.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 500px;
      position: relative;
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        color: v.$wh;
        display: block;
        padding-left: 16px;
        font-weight: bold;
        position: relative;
        z-index: 2;
        top: 80px;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
      }
      &__item {
        width: 36%;
      }
      &__img {
        width: 100%;
      }
      &__title {
        border-bottom: 1px solid v.$wh;
        padding-bottom: 10px;
        position: relative;
        &::before {
          content: "";
          width: 36px;
          height: 36px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 10px;
          right: 0;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 24px;
          right: 16px;
        }
        &-en {
          display: block;
          color: v.$wh;
          font-size:  calc(1.8rem + 4 * (100vw - 600px) / 424);
        }
        &-ja {
          display: block;
          color: v.$wh;
        }
      }
    }
    @include m.mq('pc') {
      background-image: url(/src/img/company_pc.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 700px;
      position: relative;
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        color: v.$wh;
        display: block;
        padding-left: 16px;
        font-weight: bold;
        position: relative;
        z-index: 2;
        top: 80px;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
      }
      &__item {
        width: 36%;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          .company__title {
            &::before {
              background-color: v.$org;
              border: none;
              transition: 0.3s ease;
            }
            &::after {
              border-top: 2px solid v.$wh;
              border-right: 2px solid v.$wh;
              transition: 0.3s ease;
            }
          }
        }
      }
      &__img {
        width: 100%;
      }
      &__title {
        border-bottom: 1px solid v.$wh;
        padding-bottom: 20px;
        position: relative;
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 20px;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          top: 40px;
          right: 20px;
          transition: 0.3s ease;
        }
        &-en {
          display: block;
          color: v.$wh;
          font-size: 3rem;
        }
        &-ja {
          display: block;
          color: v.$wh;
        }
      }
    }
  }
}

.footer {
  @include m.mq('sp') {
    background-color: v.$bl;
    padding: 80px 0;
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 3rem;
      color: v.$wh;
    }
    &__list {
      &-item {
        margin-left: 40px;
      }
      &-link {
        color: v.$wh;
      }
    }
  }
  @include m.mq('tab') {
    background-color: v.$bl;
    padding: 80px 0;
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 3rem;
      color: v.$wh;
    }
    &__list {
      display: flex;
      &-item {
        margin-left: 40px;
      }
      &-link {
        color: v.$wh;
      }
    }
  }
  @include m.mq('pc') {
    background-color: v.$bl;
    padding: 80px 0;
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 3rem;
      color: v.$wh;
    }
    &__list {
      display: flex;
      &-item {
        margin-left: 40px;
      }
      &-link {
        color: v.$wh;
      }
    }
  }
}