@use "../base/reset" ;
@use "../base/mixin" as m;
@use "../base/variable" as v;

html {
  font-size: 62.5%;
}

body {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    color: v.$bl;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-size: v.$FontPcText;
  }
}

.wrapper {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    width: 90%;
    margin: 0 auto;
  }
}
.header {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 100%;
      position: fixed;
      z-index: 3;
    }
    &__box {
      padding-left: 80px;
      &-logo {
        font-size: 4rem;
        color: v.$wh
      }
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 80px;
      &-item {
        margin-left: 40px;
      }
      &-link {
        color: v.$wh;
      }
    }
  }
}

.bg {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    background-image: url("/src/img/main_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    filter: brightness(90%);
    &__catch {
      color: v.$wh;
      position: absolute;
      bottom: 6%;
      left: 6%;
      &-en {
        display: block;
        font-size: 5rem;
      }
      &-ja {
        display: block;
        font-size: 2.4rem;
      }
    }
  }
}

main {
  .vision {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      
    }
    @include m.mq('pc') {
      position: relative;
      margin-bottom: 160px;
      &::before {
        content: "vision";
        position: absolute;
        top: 6%;
        right: 0;
        color: v.$bgorg;
        font-size: 30rem;
        z-index: -1;
      }
      &__flex {
        display: flex;
        align-items: center;
        gap: 80px;
      }
      &__imgbox {
        width: 40%;
        &-img {
          max-width: 100%;
        }
      }
      &__textbox {
        padding-top: 80px;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontPcLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontPcSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 64px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
  }
  .business {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      
    }
    @include m.mq('pc') {
      background: linear-gradient(90deg, #fff 0%, #fff 81%, v.$org 81%, v.$org 100%);
      margin-bottom: 160px;
      &__flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__textbox {
        width: 55%;
        padding-top: 120px;
        height: 480px;
        position: sticky;
        top: 0px;
        &::before {
          content: "Business";
          position: absolute;
          top: 6%;
          left: 0;
          color: v.$bgorg;
          font-size: 24rem;
          z-index: -2;
        }
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__lartitle {
        font-size: v.$FontPcLartitle;
        font-weight: bold;
        color: v.$org;
        margin-bottom: 24px;
      }
      &__subtitle {
        font-weight: bold;
        font-size: v.$FontPcSubtitle;
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 64px;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
      &__list {
        width: 45%;
        padding-top: 120px;
        z-index: 2;
        &-item {
          display: block;
        }
        &-img {
          width: 100%;
          vertical-align: bottom;
        }
        &-flex {
          width: 100%;
          margin-bottom: 80px;
          display: flex;
          border-bottom: 1px solid v.$gry;
          align-items: center;
          justify-content: space-between;
        }
        &-number {
          font-size: 7rem;
          font-weight: bold;
          color: v.$wh;
          text-shadow:1px 1px 0 v.$org, -1px -1px 0 v.$org,
              -1px 1px 0 v.$org, 1px -1px 0 v.$org,
              0px 1px 0 v.$org,  0-1px 0 v.$org,
              -1px 0 0 v.$org, 1px 0 0 v.$org;
          margin-right: 40px;
        }
        &-title {
          display: inline-block;
        }
        &-en {
          display: block;
          color: v.$bl;
          font-size: 3rem;
          font-weight: bold;
        }
        &-ja {
          display: block;
          color: v.$bl;
        }
      } 
      &__btn-wh {
        height: 100%;
        display: block;
        color: v.$wh;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$wh;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          top: 18px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
  }
  .news {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      
    }
    @include m.mq('pc') {
      margin-bottom: 160px;
      display: flex;
      // gap: 100px;
      &__textbox {
        width: 30%;
      }
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        display: block;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__box {
        width: 70%;
      }
      &__item {
        margin-bottom: 40px;
          border-bottom: 1px solid v.$gry;
        &-dt {
          padding-top: 20px;
          border-top: 1px solid v.$gry;
        }
        &-dd {
          padding: 20px 0;
        }
      }
      &__btn {
        text-align: right;
      }
      &__btn-bl {
        color: v.$bl;
        position: relative;
        line-height: 46px;
        padding-right: 80px;
        transition: 0.3s ease;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl;
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          right: 20px;
          transition: 0.3s ease;
        }
      }
    }
  }
  .content {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      
    }
    @include m.mq('pc') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 160px;
      .recruit {
        background-image: url(/src/img/recruit_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        position: relative;
        &:hover {
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 40px;
          right: 40px;
          transition: 0.3s ease;
        }
        &__title {
          position: absolute;
          bottom: 20px;
          left: 40px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
      .contact {
        background-image: url(/src/img/contact_pc.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        position: relative;
        &:hover {
          &::before {
            background-color: v.$org;
            border: none;
            transition: 0.3s ease;
          }
          &::after {
            border-top: 2px solid v.$wh;
            border-right: 2px solid v.$wh;
            transition: 0.3s ease;
          }
        }
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          bottom: 40px;
          right: 40px;
          transition: 0.3s ease;
        }
        &__title {
          position: absolute;
          bottom: 20px;
          left: 40px;
          &-en {
            display: block;
            color: v.$wh;
            font-size: 3rem;
          }
          &-ja {
            display: block;
            color: v.$wh;
          }
        }
      }
    }
  }
  .company {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      
    }
    @include m.mq('pc') {
      background-image: url(/src/img/company_pc.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 700px;
      position: relative;
      &__smltitle {
        font-size: v.$FontPcSmltitle;
        color: v.$wh;
        display: block;
        padding-left: 16px;
        font-weight: bold;
        position: relative;
        z-index: 2;
        top: 80px;
        &::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: v.$org;
          border-radius: 50%;
        }
      }
      &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
      }
      &__item {
        width: 36%;
        &:hover {
          color: v.$org;
          transition: 0.3s ease;
          .company__title {
            &::before {
              background-color: v.$org;
              border: none;
              transition: 0.3s ease;
            }
            &::after {
              border-top: 2px solid v.$wh;
              border-right: 2px solid v.$wh;
              transition: 0.3s ease;
            }
          }
        }
      }
      &__img {
        width: 100%;
      }
      &__title {
        border-bottom: 1px solid v.$wh;
        padding-bottom: 20px;
        position: relative;
        &::before {
          content: "";
          width: 46px;
          height: 46px;
          border: 1px solid v.$gry;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 20px;
          right: 0;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid v.$wh;
          border-right: 2px solid v.$wh;
          transform: rotate(45deg);
          position: absolute;
          top: 40px;
          right: 20px;
          transition: 0.3s ease;
        }
        &-en {
          display: block;
          color: v.$wh;
          font-size: 3rem;
        }
        &-ja {
          display: block;
          color: v.$wh;
        }
      }
    }
  }
}

.footer {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    background-color: v.$bl;
    padding: 80px 0;
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 3rem;
      color: v.$wh;
    }
    &__list {
      display: flex;
      &-item {
        margin-left: 40px;
      }
      &-link {
        color: v.$wh;
      }
    }
  }
}