/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1025px) {
  body {
    color: #191101;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .header__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  .header__box {
    padding-left: 80px;
  }
  .header__box-logo {
    font-size: 4rem;
    color: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__box-logo.scroll {
    color: #191101;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 80px;
  }
  .header__list-item {
    margin-left: 40px;
    position: relative;
  }
  .header__list-item:hover::after {
    width: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__list-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #FFB010;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__list-link {
    color: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__list-link.scroll {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    color: #191101;
  }
}

@media screen and (min-width: 1025px) {
  .bg {
    background-image: url("/src/img/main_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  .bg__catch {
    color: #fff;
    position: absolute;
    bottom: 6%;
    left: 6%;
  }
  .bg__catch-en {
    display: block;
    font-size: 5rem;
  }
  .bg__catch-ja {
    display: block;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1025px) {
  main .vision {
    position: relative;
    margin-bottom: 160px;
  }
  main .vision::before {
    content: "vision";
    position: absolute;
    top: 6%;
    right: 0;
    color: rgba(255, 175, 16, 0.0980392157);
    font-size: 30rem;
    z-index: -1;
  }
  main .vision__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
  main .vision__imgbox {
    width: 40%;
  }
  main .vision__imgbox-img {
    max-width: 100%;
  }
  main .vision__textbox {
    padding-top: 80px;
  }
  main .vision__smltitle {
    font-size: 1.6rem;
    display: block;
    padding-left: 16px;
    margin-bottom: 32px;
    font-weight: bold;
    position: relative;
  }
  main .vision__smltitle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #FFB010;
    border-radius: 50%;
  }
  main .vision__lartitle {
    font-size: 5rem;
    font-weight: bold;
    color: #FFB010;
    margin-bottom: 24px;
  }
  main .vision__subtitle {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 24px;
  }
  main .vision__text {
    margin-bottom: 64px;
  }
  main .vision__btn-bl {
    color: #191101;
    position: relative;
    line-height: 46px;
    padding-right: 80px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .vision__btn-bl:hover {
    color: #FFB010;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .vision__btn-bl:hover::before {
    background-color: #FFB010;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .vision__btn-bl:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .vision__btn-bl::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .vision__btn-bl::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #191101;
    border-right: 2px solid #191101;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 1025px) {
  main .business {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(81%, #fff), color-stop(81%, #FFB010), to(#FFB010));
    background: linear-gradient(90deg, #fff 0%, #fff 81%, #FFB010 81%, #FFB010 100%);
    margin-bottom: 160px;
  }
  main .business__flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .business__textbox {
    width: 55%;
    padding-top: 120px;
    height: 480px;
    position: sticky;
    top: 0px;
  }
  main .business__textbox::before {
    content: "Business";
    position: absolute;
    top: 6%;
    left: 0;
    color: rgba(255, 175, 16, 0.0980392157);
    font-size: 24rem;
    z-index: -2;
  }
  main .business__smltitle {
    font-size: 1.6rem;
    display: block;
    padding-left: 16px;
    margin-bottom: 32px;
    font-weight: bold;
    position: relative;
  }
  main .business__smltitle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #FFB010;
    border-radius: 50%;
  }
  main .business__lartitle {
    font-size: 5rem;
    font-weight: bold;
    color: #FFB010;
    margin-bottom: 24px;
  }
  main .business__subtitle {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 24px;
  }
  main .business__text {
    margin-bottom: 64px;
  }
  main .business__btn-bl {
    color: #191101;
    position: relative;
    line-height: 46px;
    padding-right: 80px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-bl:hover {
    color: #FFB010;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-bl:hover::before {
    background-color: #FFB010;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-bl:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-bl::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-bl::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #191101;
    border-right: 2px solid #191101;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__list {
    width: 45%;
    padding-top: 120px;
    z-index: 2;
  }
  main .business__list-item {
    display: block;
  }
  main .business__list-img {
    width: 100%;
    vertical-align: bottom;
  }
  main .business__list-flex {
    width: 100%;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .business__list-number {
    font-size: 7rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 #FFB010, -1px -1px 0 #FFB010, -1px 1px 0 #FFB010, 1px -1px 0 #FFB010, 0px 1px 0 #FFB010, -1px 0 #FFB010, -1px 0 0 #FFB010, 1px 0 0 #FFB010;
    margin-right: 40px;
  }
  main .business__list-title {
    display: inline-block;
  }
  main .business__list-en {
    display: block;
    color: #191101;
    font-size: 3rem;
    font-weight: bold;
  }
  main .business__list-ja {
    display: block;
    color: #191101;
  }
  main .business__btn-wh {
    height: 100%;
    display: block;
    color: #fff;
    position: relative;
    line-height: 46px;
    padding-right: 80px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-wh::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .business__btn-wh::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 18px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 1025px) {
  main .news {
    margin-bottom: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .news__textbox {
    width: 30%;
  }
  main .news__smltitle {
    font-size: 1.6rem;
    display: block;
    padding-left: 16px;
    margin-bottom: 32px;
    font-weight: bold;
    position: relative;
  }
  main .news__smltitle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #FFB010;
    border-radius: 50%;
  }
  main .news__box {
    width: 70%;
  }
  main .news__item {
    margin-bottom: 40px;
    border-bottom: 1px solid #DDDDDD;
  }
  main .news__item-dt {
    padding-top: 20px;
    border-top: 1px solid #DDDDDD;
  }
  main .news__item-dd {
    padding: 20px 0;
  }
  main .news__btn {
    text-align: right;
  }
  main .news__btn-bl {
    color: #191101;
    position: relative;
    line-height: 46px;
    padding-right: 80px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .news__btn-bl:hover {
    color: #FFB010;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .news__btn-bl:hover::before {
    background-color: #FFB010;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .news__btn-bl:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .news__btn-bl::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .news__btn-bl::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #191101;
    border-right: 2px solid #191101;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 1025px) {
  main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 160px;
  }
  main .content .recruit {
    background-image: url(/src/img/recruit_pc.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
  }
  main .content .recruit:hover::before {
    background-color: #FFB010;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .recruit:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .recruit::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .recruit::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    bottom: 40px;
    right: 40px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .recruit__title {
    position: absolute;
    bottom: 20px;
    left: 40px;
  }
  main .content .recruit__title-en {
    display: block;
    color: #fff;
    font-size: 3rem;
  }
  main .content .recruit__title-ja {
    display: block;
    color: #fff;
  }
  main .content .contact {
    background-image: url(/src/img/contact_pc.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
  }
  main .content .contact:hover::before {
    background-color: #FFB010;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .contact:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .contact::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .contact::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    bottom: 40px;
    right: 40px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .content .contact__title {
    position: absolute;
    bottom: 20px;
    left: 40px;
  }
  main .content .contact__title-en {
    display: block;
    color: #fff;
    font-size: 3rem;
  }
  main .content .contact__title-ja {
    display: block;
    color: #fff;
  }
}
@media screen and (min-width: 1025px) {
  main .company {
    background-image: url(/src/img/company_pc.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
  }
  main .company__smltitle {
    font-size: 1.6rem;
    color: #fff;
    display: block;
    padding-left: 16px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    top: 80px;
  }
  main .company__smltitle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #FFB010;
    border-radius: 50%;
  }
  main .company__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -36%);
            transform: translate(-50%, -36%);
  }
  main .company__item {
    width: 36%;
  }
  main .company__item:hover {
    color: #FFB010;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .company__item:hover .company__title::before {
    background-color: #FFB010;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .company__item:hover .company__title::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .company__img {
    width: 100%;
  }
  main .company__title {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    position: relative;
  }
  main .company__title::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .company__title::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 40px;
    right: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main .company__title-en {
    display: block;
    color: #fff;
    font-size: 3rem;
  }
  main .company__title-ja {
    display: block;
    color: #fff;
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    background-color: #191101;
    padding: 80px 0;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__title {
    font-size: 3rem;
    color: #fff;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__list-item {
    margin-left: 40px;
  }
  .footer__list-link {
    color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */